::ng-deep .notfound-wrapper {
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
    margin: 0px;
    padding: 0px;
  }
  p {
    font-size: 18px;
    color: #a4a4a4;
    margin: 0px;
    padding: 0px;
  }
}
