.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0;

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: start;
    gap: 20px;

    .search-field {
      width: 100%;
      flex-grow: 1;
    }
  }

  h2 {
    margin: 0px;
    line-height: 1em;
  }

}

::ng-deep .notfound-wrapper {
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
    margin: 0px;
    padding: 0px;
  }
  p {
    font-size: 18px;
    color: #a4a4a4;
    margin: 0px;
    padding: 0px;
  }
}